/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "mixins";

$flash-red: #FBE3E4;
$flash-green: #E6EFC2;
$orangered: #FF4500;
$periwinkle: #CCAAFF;
$darkgrey: #A9A9A9;

body {
  margin: 0;
}

div.container {
  @include outer-container;
}

.row {
  @include row();
  @include span-columns(12);
  @include dev-border;
}

.navbar {
  height: 18px;
}

#header-row {
  height: 45px;
  background-color: #D6EAFF;
}

.header-image {
  @include span-columns(1 of 12);
  @include dev-border;
  height: 45px;
}

.subreddit-nav {
  @include span-columns(3 of 12);
  float: left;
  @include dev-border;
  @include header-menu-pos;
}

.user-nav {
  @include span-columns(2 of 12);
  float: right;
  @include dev-border;
  @include header-menu-pos;
  border-top-left-radius: 10px;
  background: #E9FFFF;
}

#content-row {
  margin-top: 5px;
}

.content {
  @include span-columns(9 of 12);
  @include dev-border;
}

.sidebar {
  @include span-columns(3 of 12);
  @include dev-border;
  padding-right: 4px;
  .new_post_button {
    display: block;
    margin: 1px 20px;
    input {
      width: 100%;
    }
  }
}

.signup-container {
  @include span-columns(7 of 12);
  border-right: solid 2px black;
  @include login-page-margins;
}

.login-container {
  @include span-columns(5 of 12);
  @include login-page-margins;
}

.edit-user-container {
  @include span-columns(7 of 12);
  border-right: solid 2px black;
  @include login-page-margins;
}

.delete-user-container {
  @include span-columns(5 of 12);
  @include login-page-margins;
}

.new-post-container {
  @include span-columns(6 of 12);
  @include login-page-margins;
}

#login-form-sidebar-container {
  .form-element {
    width: 47.5%;
    padding: 0;
    margin: 0 1%;
    display: inline-block;
  }

  .button {
    float: right;
  }
}

.error {
  display: block;
  font-weight: bold;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  color: darken($flash-red, 60);
}

.success {
  display: block;
  font-weight: bold;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  color: darken($flash-green, 60);
}

.user-nav {
  width: auto;
  padding-left: 5px;
  .nav-item {
    font-size: 10pt;
    vertical-align: super;
    float: right;
    padding-right: 4px;
  }
}

.post {
  height: 50px;

  .entry {
    .self-text {
      margin: 5px auto;
      width: 100%;
      border: 1px solid grey;
      border-radius: 4px;
      padding: 4px;
    }
  }
}

.full-view-post {
  overflow: auto;
  height: auto;
}

.comment {
  clear: both;

  .entry {
    .content {
      margin: 5px auto;
      width: 100%;
    }
  }

  .children {
    float: none;
    display: block;
    .comment {
      margin-left: 15px;
      border-left: dotted 1px grey;
    }
  }
}

.post, .comment {
  span, div {
    float: left;
    display: block;
  }

  .rank {
    font-size: medium;
    font-family: arial;
    text-align: right;
    color: #C6C6C6;
    width: 2.2ex;
    margin-top: 15px;
  }

  .voted-on {
    width: 5.1ex;
    font-weight: bold;
    font-size: small;
    margin: 0px 7px;
    div {
      display: block;
      margin: auto;
      float: none;
    }
    .upvote-button, .downvote-button {
      height: 14px;
      width: 15px;
      text-align: center;

    }
    .votes {
      height: 16px;
      text-align: center;
    }

    .after-upvote, .after-downvote, .before-vote {
      display: none;
    }
  }

  .thumbnail {
    width: 70px;
  }

  .entry {
    .title {
      height: 19px;
      margin: 0px;
    }
    .tagline {
      height: 12px;
      font-size: x-small;
      color: #888;
      margin: 0px;
    }
    .buttons {
      margin: 0px;
      list-style: none;
      li {
        font-size: x-small;
        color: #888;
        float: left;
        margin-right: 10px;
      }
    }
  }
}

.comment-area {
  margin: 20px auto 20px 20px;
  overflow: auto;
  .separator {
    width: 100%;
    border-bottom: dotted 1px black;
  }
  .new_comment {
    .field {
      margin: 5px 0px 5px 5px;
      max-width: 500px;
      textarea {
        margin: 0px;
      }
    }
    .actions {
      margin: 5px 0px 5px 5px;
      font-size: small;
    }
  }
}

.upvoted {
  color: $orangered;
}

.downvoted {
  color: $periwinkle;
}

.unvoted {
  color: $darkgrey;
}
