/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "mixins";

$flash-red: #FBE3E4;

body {
  margin: 0;
}

div.container {
  @include outer-container;
}

.row {
  @include row();
  @include span-columns(12);
  @include dev-border;
}

.navbar {
  height: 18px;
}

#header-row {
  height: 45px;
  background-color: #D6EAFF;
}

.header-image {
  @include span-columns(1 of 12);
  @include dev-border;
  height: 45px;
}

.subreddit-nav {
  @include span-columns(3 of 12);
  float: left;
  @include dev-border;
  @include header-menu-pos;
}

.user-nav {
  @include span-columns(2 of 12);
  float: right;
  @include dev-border;
  @include header-menu-pos;
  border-top-left-radius: 10px;
  background: #E9FFFF;
}

.posts {
  @include span-columns(9 of 12);
  @include dev-border;
}

.sidebar {
  @include span-columns(3 of 12);
  @include dev-border;
  padding-right: 4px;
}

#login-form-container {
  .form-element {
    width: 47.5%;
    padding: 0;
    margin: 0 1%;
    display: inline-block;
  }

  .button {
    float: right;
  }
}

.error {
  display: block;
  font-weight: bold;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  color: darken($flash-red, 60);
}

.user-nav {
  .nav-item {
    font-size: 10pt;
    vertical-align: super;
    float: right;
    padding-right: 4px;
  }
}
