<% if logged_in? %>
  <span class="nav-item">
    <%= link_to "#{current_user.username}", user_path(current_user) %>
    <span class="separator"> | </span>
    <%= link_to "Log out", logout_path, method: "delete" %>
  </span>
<% end %>
