<% if logged_in? %>
  <span class="nav-item">
    <%= link_to "#{current_user.username}", user_path(current_user) %>
    <span class="separator"> | </span>
    <%= link_to "log out", logout_path, method: "delete" %>
    <span class="separator"> | </span>
    <%= link_to "edit account", edit_user_path(current_user) %>
  </span>
<% else %>
  <span class="nav-item">
    <%= link_to "sign up or login", login_path %>
  </span>
<% end %>
